/*Styles*/
body{
	margin: 0;
}
header{
	display: block;
	background: #ddd;
	text-align: center;
}

.text{
  display: table;
  table-layout: fixed;
  width: 99%;
  /*border: 1em;*/
}
.text ul {
	display: table-row;
	background: #eee;
	padding-top: 1em;
	list-style: none;
}
.text ul li{
	border-left: 1em white solid;
  /*border-radius: 3em;*/
	display: table-cell;
  	width: 33%;
  	padding-left: 1em;
  	list-style: none;
}
nav {
	display: none;
}

/*footer*/

/*Player*/
#track {
	background: #ccc;
	min-width: 90%;
	height: 4px;
	display: inline-block;
	top: -2px;
	position: relative;
}
#player{
	max-width: 900px;
	margin: 0 auto;
}
#track #pos{
	display: block;
	background: white;
	height: 10px;
	width: 10px;
	border: 1px #ccc solid;
	top:-5px;
	position: relative;
	border-radius: 0.5em;
}
#play {
	text-align: center;
	border-radius: 1.5em;
	border: 1px #eee solid;
	background: #ddd;
	font-size: 14pt;
	padding: 0px 0px 0px 5px;
	width: 3em;
	height: 3em;
	display: inline-block;
}